h2{
    text-align: center;
}
.main{
	font-family: 'Fredoka One', cursive;
	/* background: linear-gradient(to top, #8ecca3, #9dc2b7, #5f6597,rgb(202, 158, 158)); */
	background-image: url(../../img/autoinstock.jpg);
	background-size: cover;
}
.phone1{
	text-align: center;
}
.main1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 500px 500px 500px;   
    grid-column-gap: 2px;
    grid-row-gap: 10px;
    /* font-family: 'Libre Caslon Display', serif; */
    /* font-family: 'Bangers', cursive; */
    font-family: 'Heebo', sans-serif;
    /* background: linear-gradient(to top, #8ecca3, #9dc2b7, #5f6597,rgb(155, 73, 73)); */
    
}
.main h4{
	text-align: center;

}
.box1{
	display: none;
}
.cssSlider {
	display: block;
	position: relative;
	width: 400px;
    overflow: hidden;
    margin: 12px;
    border: 3px orangered;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 20px;
	height: 267px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 400px;
	height: 266px;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 400px;
	height: auto;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}

.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
.box_2,.box_3,.box_4{
    border: 1px solid orangered;
    margin: 10px;
    height: 500px;
    background: linear-gradient(to top, #62645d,rgb(187, 146, 146));
    
}
.carinfo{
    margin: 12px;
}


@media screen and (max-width:768px){
    .main1{
        display: grid;
        grid-template-columns: 370px;
        grid-template-rows: 500px 500px 500px;   
        grid-column-gap: 10px;
		grid-row-gap: 10px;
		width: 100%;
    }
    .cssSlider{
        width:320px;
    }

    /* .box_2,.box_3,.box_4{
        height: 100%;
        width: 100%;
	} */
	/*  */
}