.top_header{
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(36deg, #616c6e, #252b31, #051520);
    width: 100%;
    justify-content: center;
    justify-items: center;
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Fredoka One', cursive;
}
.social{
    padding-top: 20px;
    grid-area:a;
    grid-template-columns: 1fr ;
   justify-items: center;
    
}
.telegram{
    padding-top: 0px;
}
.logo{
   grid-area: b;  
   justify-content: center; 
   
}
.graficlogo{
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: center;
    border: 2px solid orangered;
}
.graficlogo:hover{
    border: 2px solid white;
}
.phone a{
    color:orangered;
    justify-content: center;
    text-decoration-color: none;
    text-decoration-line: none;
}
.viber:hover{
    color: blanchedalmond;
}

 

.phone{
    color: rgb(182, 26, 72);
}
.mobile_phone{
    color: blanchedalmond;
    margin-top: 40px;
}
.mobile_phone{
    animation: blink 2s infinite;
    }
    @keyframes mobile_phone{
      from { opacity: 1; /* Непрозрачный текст */ }
      to { opacity: 0; /* Прозрачный текст */ }
     }
@media screen and (max-width:768px){
    .graficlogo{
    padding: 5px;
    width: 150px;
    height: 135px;
        /* border-radius: 200px;
        max-width: 100%;
        box-sizing: border-box;
        justify-content: center; */
    }  
    .viber{
        font-size: small;
        
    }
    .top_header{
        width: 100%;}
        
.mobile_phone{
    font-size: smaller;
}
}