.contact_container{
    padding: 20px;
    border: 1px solid black;
    font-family: 'Alata', sans-serif;
    font-size: 90%;
    background-color: rgb(231, 231, 231);
    margin: 20px;
    /* text-shadow: 1px 1px 1px black, 0 0 0em rgb(190, 186, 186); */
}

h3{
    text-align: center;
    
}